* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  align-items: center;
  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    position: absolute;
    bottom: 64px;
    width: 350px;
  }
  & li {
    // display: flex;
    width: fit-content;
    padding-bottom: 24px;
    // justify-content: center;
    align-items: center;
    @media only screen and (min-width: 1440px) {
      padding-bottom: 0;
    }
  }
}
