// primary colors
$main-bg: hsl(233, 47%, 7%);
$card-bg: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

// neutral colors
$main-h: hsl(0, 0%, 100%);
$main-p: hsl(0, 0%, 100%, 0.75);
$stat-h: hsl(0, 0%, 100%, 0.6);

// typefaces
$inter: "Inter", sans-serif;
$lexend: "Lexend Deca", sans-serif;
